/*Stylesheet for halloween*/
/*ESTA PAGINA NO ES RESPONSIVE*/

/*lo primero que hago es definir un tipo de letra*/
@font-face {
    font-family: halloween;
    src: url('../fonts/piecesnfi.ttf');
}
body {
    background-color: rgb(9, 26, 41);
    margin: 0;
    font-family: halloween;
    color: #fff;
}
#container {
    margin: auto;
    height: 1080px; /*fijo el alto de la imagen*/
    width: 1920px; /*fijo el ancho de la imagen*/
    background-repeat: no-repeat;
    background-image: url("../images/background.jpg");
    position: relative; /*el contenedor se puede mover en la pantalla*/
}
#p1, #p2, #p3, #p4, #p5 {
    position: absolute; /*fijo en el contenedor todos los textos*/
}
/*aqui indico las diferentes reglas que tienen cada uno de los parrafos de la página*/
#p1 {
    top: 1px;
    left: 150px;
    font-size: 3em;
    text-shadow: 5px 5px rgb(255, 0, 0);
}
#p2 {
    color: red;
    top: 500px;
    right: 380px;
    font-size: 1.5em;
}
#p3 {
    color: rgb(241, 145, 0);
    top: 820px;
    left: 600px;
    font-size: 1.5em;
}
#p4 {
    color: rgb(238, 255, 0);
    top: 150px;
    left: 120px;
    font-size: 1.6em;
    text-shadow: 5px 5px rgb(0, 0, 0);
}
#p5 {
    color: rgb(0, 0, 0);
    top: 390px;
    left: 180px;
    font-size: 1.6em;
    text-shadow: 5px 5px rgb(243, 36, 0);
}

#pinvita{
    padding: 70px;
    color: black;
    font-size: 1.6em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 0.5em;
    line-height: 50px;
}

#bats, #imgrito, #mgluna, #imgzombie, #invitacion {
    position: absolute; /*fijo en el contenedor todos las fotos*/
    visibility: hidden; /*dejo las fotos en invisible para que se muestren con el javascript*/
}
/*Aquí especifico las reglas para la carta de invitación*/
#continvi {
    top: 680px;
    position: absolute;
    left: 860px;
    text-align: center;
    width: 50px;
    height: 50px;
    cursor:pointer;

}
#invitacion {
    background-color: #fff;
    width: 800px;
    height: 650px;
    cursor:pointer;
    top: 300px;
    left: 500px;
}

#murcielago, #cuerbo, #grito, #luna, #zombie {
    cursor:pointer;  /*agrego un puntero para que el usuario sepa que esta sobre un elemento interactivo*/
    position: absolute; /*fijo en el contenedor todos los divs que contienen el javascript*/
}


/*aqui se decalran los tamaños de los divs con el java script*/
#murcielago {
    width: 330px;
    height: 160px;
    top: 500px;
    right: 380px;
}

#cuerbo {
    width: 76px;
    height: 100px;
    top: 337px;
    left: 320px;
}

#grito {
    width: 70px;
    height: 100px;
    bottom: 100px;
    left: 580px;
}

#zombie {
    width: 100px;
    height: 200px;
    bottom: 10px;
    left: 900px;
}

#luna {
    width: 170px;
    height: 150px;
    top: 210px;
    left: 370px;
}